/*
    color palette:
    #F4F89E
    #FFC759
    #FF8C42
    #261447
*/

* {
    transition: background-color 0.29s;
}

html, body {
    background-color: #F4F89E;
    font-family: sans-serif;
    color: #261447;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#loginScreen {
    justify-content: center;
    margin: auto;
    margin-top: 15vh;
    padding-bottom: 10vh;
    width: 60vw;
    background-color: #FFC759;
    border-radius: 20px;
}

#loginScreen h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
    font-size: 2.5em;
    padding-top: 3vh;
    padding-bottom: 1vh;
}

#loginScreen form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#loginScreen form label {
    font-size: 2rem;
}

#loginScreen form input {
    margin-top: 2vh;
    width: 30%;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 1.5rem;
    margin-bottom: 2vh;
}

#loginScreen button {
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #FF8C42;
    color: #e1e1e1;
    font-size: 1.5rem;
}

body > footer {
    margin-top: auto;
    background-color: #FFC759;
    color: #261447;
    text-align: center;
    padding: 3vh 0 10px 0;
}

#logoutButton {
    position: absolute;
    right: 1.1vw;
    top: 20px;
    left: auto;
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #FF8C42;
    color: #e1e1e1;
    font-size: 1.5rem;
}

#logoutButton:hover {
    background-color: #ee7c35;
    cursor: pointer;
}

#projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 80vw; 
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.project {
    background-color: #FFC759;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

.project:hover {
    background-color: #FFD059;
    cursor: pointer;
}
.edit-button {
    position: relative;
    left: 45%;
    vertical-align: bottom;
    border: none;
    outline: none;
    background: none;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.edit-button:hover {
    color: #6E40C9;
    cursor: pointer;
}

.edit-title {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1vh;
    resize: none;
    border-radius: 5px;
    border-color: #CC9933;
    border-style: solid;
}

.edit-description {
    font-size: 1.1rem;
    width: 95%;
    margin-top: 1vh;
    border-radius: 5px;
    border-color: #CC9933;
    border-style: solid;
}

.edit-status {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 5px;
    border-color: #CC9933;
    border-style: solid;
    width: 50%;
}

.edit-save {
    position: relative;
    vertical-align: bottom;
    margin-right: 2px;
    border: none;
    border-radius: 7px;
    outline: none;
    background: #43a047;
    color: #1a1a1a;
    width: 17%;
}

.edit-save:hover {
    background-color: #388e3c;
    cursor: pointer;
}

.edit-save:active {
    background-color: #2e7d32;
}

.edit-delete {
    position: relative;
    vertical-align: bottom;
    margin-left: 2px;
    border: none;
    border-radius: 7px;
    outline: none;
    background: #e53935;
    color: #261447;
    width: 17%;
}

.edit-delete:hover {
    background-color: #d32f2f;
    cursor: pointer;
}

.edit-delete:active {
    background-color: #c62828;
}

.new-project {
    border: 2px dashed #FFC759;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    align-content: center;
    color: #FFC759;
    user-select: none;
    -webkit-user-select: none;
}

.new-project h1 {
    font-size: 3.2rem;
}

.new-project:hover {
    background-color: #FFFFB2;
    border: 2px dashed #FFD263;
    color: #FFD263;
    cursor: pointer;
}

.new-project:active {
    background-color: #F4F89E;
    border: 2px dashed #FFC759;
    color: #FFC759;
}

#projectInfo {
    display: none;
}

#closeInfoButton {
    margin: 10px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #FF8C42;
    color: #e1e1e1;
    font-size: 1.5rem;
}

#closeInfoButton:hover {
    background-color: #ee7c35;
    cursor: pointer;
}

#statusTable {
    align-self: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 7vh;
    width: 90vw;
    padding: 1%;
    background-color: #FFC759;
    border-radius: 25px;
    text-align: center;
}

#statusList {
    align-self: center;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

#statusList td {
    border: 1px solid black;
}

#statusList th {
    border: 1px solid black;
}

@media (max-width: 900px) {
    #projects {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 11vh
    }

    #logoutButton {
        right: 3vw;
        top: 15px;
        padding-left: 2%;
        padding-right: 2%;
        border-radius: 10px;
    }

    #loginScreen {
        justify-content: center;
        margin: auto;
        padding-bottom: 10vh;
        width: 90vw;
        background-color: #FFC759;
        border-radius: 20px;
    }
    
    #loginScreen h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 3vh;
        font-size: 2.5em;
        padding-top: 3vh;
    }
    
    #loginScreen form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #loginScreen form label {
        font-size: 2rem;
    }
    
    #loginScreen form input {
        width: 45%;
        height: 40px;
        border-radius: 10px;
        border: none;
        padding-left: 10px;
        font-size: 1.5rem;
        margin-bottom: 0vh;
    }
    
    #loginScreen button {
        padding-left: 2%;
        padding-right: 2%;
        height: 45px;
        border-radius: 10px;
        border: none;
        background-color: #FF8C42;
        color: #e1e1e1;
        font-size: 1.5rem;
    }
}