/*
    color palette:
    #F4F89E
    #FFC759
    #FF8C42
    #261447
*/

body {
    background-color: #F4F89E;
    font-family: sans-serif;
    color: #261447;
}

#loginScreen {
    justify-content: center;
    margin: auto;
    margin-top: 15vh;
    padding-bottom: 10vh;
    width: 60vw;
    background-color: #FFC759;
    border-radius: 20px;
}

#loginScreen h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
    font-size: 2.5em;
    padding-top: 3vh;
    padding-bottom: 1vh;
}

#loginScreen form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#loginScreen form label {
    font-size: 2rem;
}

#loginScreen form input {
    margin-top: 2vh;
    width: 30%;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 1.5rem;
    margin-bottom: 2vh;
}

#loginScreen button {
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #FF8C42;
    color: #e1e1e1;
    font-size: 1.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFC759; /* Optional: Set the background color */
    color: #261447; /* Optional: Set the text color */
    text-align: center; /* Optional: Center the text */
    padding: 10px 0; /* Optional: Add padding */
    padding-top: 3vh;
}

#logoutButton {
    position: absolute; 
    right: 1vw;
    top: 15px;
    left: auto;
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #FF8C42;
    color: #e1e1e1;
    font-size: 1.5rem;
}

#projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 80vw; 
    margin: auto;
    margin-top: 10vh;
}

.project {
    background-color: #FFC759;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

.project:hover {
    background-color: #FFD059;
    cursor: pointer;
}

.edit-button {
    position: relative;
    left: 45%;
    vertical-align: bottom;
    border: none;
    outline: none;
    background: none;
}

.edit-button:hover {
    background-color: rgba(128, 128, 128, 0.183);
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.edit-title {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1vh;
    resize: none;
    border-radius: 5px;
    border-color: #CC9933;
    border-style: solid;
}

.edit-description {
    font-size: 1.1rem;
    width: 95%;
    margin-top: 1vh;
    border-radius: 5px;
    border-color: #CC9933;
    border-style: solid;
}

.edit-status {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 5px;
    border-color: #CC9933;
    border-style: solid;
    width: 50%;
}

.edit-save {
    position: relative;
    vertical-align: bottom;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #43a047;
    color: #1a1a1a;
}

.edit-save:hover {
    background-color: #388e3c;
    cursor: pointer;
}

.edit-save:active {
    background-color: #2e7d32;
}

.edit-delete {
    position: relative;
    vertical-align: bottom;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #e53935;
    color: #261447;
}

.edit-delete:hover {
    background-color: #d32f2f;
    cursor: pointer;
}

.edit-delete:active {
    background-color: #c62828;
}

.new-project {
    border: 2px dashed #FFC759;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    align-content: center;
    color: #FFC759;
    user-select: none;
    -webkit-user-select: none;
}

.new-project h1 {
    font-size: 3.2rem;
}

.new-project:hover {
    background-color: #FFFFB2;
    border: 2px dashed #FFD263;
    color: #FFD263;
    cursor: pointer;
}

.new-project:active {
    background-color: #F4F89E;
    border: 2px dashed #FFC759;
    color: #FFC759;
}

@media (max-width: 900px) {
    #projects {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 11vh
    }

    #logoutButton {
        right: 3vw;
        top: 15px;
        padding-left: 2%;
        padding-right: 2%;
        border-radius: 10px;
    }

    #loginScreen {
        justify-content: center;
        margin: auto;
        padding-bottom: 10vh;
        width: 90vw;
        background-color: #FFC759;
        border-radius: 20px;
    }
    
    #loginScreen h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 3vh;
        font-size: 2.5em;
        padding-top: 3vh;
    }
    
    #loginScreen form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #loginScreen form label {
        font-size: 2rem;
    }
    
    #loginScreen form input {
        width: 45%;
        height: 40px;
        border-radius: 10px;
        border: none;
        padding-left: 10px;
        font-size: 1.5rem;
        margin-bottom: 0vh;
    }
    
    #loginScreen button {
        padding-left: 2%;
        padding-right: 2%;
        height: 45px;
        border-radius: 10px;
        border: none;
        background-color: #FF8C42;
        color: #e1e1e1;
        font-size: 1.5rem;
    }
}