/*
    color palette:
    #F4F89E
    #FFC759
    #FF8C42
    #261447
*/

body {
    background-color: #F4F89E;
    font-family: sans-serif;
}

#loginScreen {
    justify-content: center;
    margin: auto;
    margin-top: 15vh;
    padding-bottom: 10vh;
    width: 60vw;
    background-color: #FFC759;
    border-radius: 20px;
}

#loginScreen h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
    font-size: 2.5em;
    padding-top: 3vh;
    padding-bottom: 1vh;
}

#loginScreen form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#loginScreen form label {
    font-size: 2rem;
}

#loginScreen form input {
    margin-top: 2vh;
    width: 30%;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 1.5rem;
    margin-bottom: 2vh;
}

#loginScreen button {
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #FF8C42;
    color: #e1e1e1;
    font-size: 1.5rem;
}